

<label class="text-gray-500 hover:text-indigo-500 @(IsOther?"":"flex self-center justify-end mr-2")" style="font-size: 10px">@(!IsOther? "" : MessageModel.Remitente.Alias + " • ")@(MessageModel.Time.ToString("HH:mm"))</label>

<div class="flex @(IsOther?"":"justify-end") mb-2 items-center">


    @if (MessageType == 0)
    {
        <div class="rounded-xl mmm py-2.5 px-4 @(!IsOther?"bg-indigo-500 text-white":"bg-[#EAE8ED]")">
            <p class="text-sm">
                @MessageModel.Contenido
            </p>
        </div>
    }

    else if (MessageType == 1)
    {
        <div class="rounded-xl p-4 @(!IsOther?"bg-indigo-500 text-white":"bg-[#EAE8ED]")">

            <div class="flex bg-red justify-center items-center">
                <img class="h-5 w-5 mt-1" src="@(IsOther?"./meet.png":"./meet_white.png")" />
            </div>

            <a href="@MessageModel.Contenido" target="_blank" class="text-sm hover:text-indigo-600">Unirme</a>

        </div>
    }


</div>