@rendermode RenderMode.InteractiveWebAssembly

@* Dependencias *@
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@* Elementos *@
<LIN.Allo.Shared.Components.Elements.Popups.EmojiPanel @ref="EmojiPanel" Press="(e)=>{Message+=e; StateHasChanged();}" />

@* Cabecera *@
<div class="flex flex-row items-center justify-between border-gray-300 px-3 py-3 dark:border-zinc-600">

    @* Nombre y tipo *@
    <div class="flex items-center">

        <svg @onclick="OnBackPress" class="visible mr-3 h-5 w-5 fill-black hover:fill-current-500 dark:fill-gray-100 lg:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
        </svg>

        <div class="flex items-center gap-2.5">


            <div class="inline-flex h-10 w-10 items-center justify-center rounded-full border border-zinc-100 bg-zinc-100 p-2 font-bold leading-none text-zinc-600 dark:border-zinc-700 dark:bg-zinc-900 dark:text-zinc-200">
                <label class="mt-0.5 h-max w-max content-center text-center lg:mt-0">@(Global.Utilities.Strings.GetInitials(Iam?.Conversation?.Name ?? ""))</label>
            </div>


            <div class="flex flex-col">
                <label class="font-bold text-black dark:text-gray-100">
                    @(Iam?.Conversation?.Name ?? "")
                </label>
                <label style="margin-top:-2px" class="text-xs text-zinc-700 dark:text-gray-500">

                    @switch (Iam?.Conversation?.Type)
                    {
                        case ConversationsTypes.Personal:
                            @("Chat personal")
                            break;
                        case ConversationsTypes.Work:
                            @("Grupo profesional")
                            break;
                        default:
                            @("Grupo")
                            break;
                    }

                </label>
            </div>
        </div>


    </div>


    @* Botones *@
    <div class="flex items-center justify-center">

        @* Emma *@
        <button @onclick="EmmaClick" class="visible h-5 w-5 rounded-full lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" version="1.1" class="h-full w-full fill-primaryDark hover:fill-current-600 dark:fill-current-500">
                <path d="M0 0 C4.16347012 3.4964018 8.08707008 7.22822917 12 11 C12.71800781 11.65484375 13.43601563 12.3096875 14.17578125 12.984375 C20.46536293 18.88322115 25.23469978 25.86116307 30 33 C30.63035156 33.93457031 31.26070312 34.86914062 31.91015625 35.83203125 C35.7340925 41.92071334 38.54590444 48.33466425 41.1875 55 C41.5086377 55.78705322 41.82977539 56.57410645 42.16064453 57.38500977 C48.6288079 74.43121085 49.67462486 91.80175574 49.57641602 109.8659668 C49.56242094 113.45778943 49.59692837 117.04706214 49.63476562 120.63867188 C49.68776871 136.25709347 48.87201094 148.4825821 38.23046875 160.78125 C28.96355273 169.99947819 17.860369 174.80542246 4.875 175.25 C-10.19188737 175.04556462 -21.57652502 168.42347498 -32 158 C-32.49886719 158.43570313 -32.99773437 158.87140625 -33.51171875 159.3203125 C-48.45835388 171.71770106 -66.90325934 176.07394758 -86 175 C-106.74423628 172.30621881 -124.68493664 162.80990927 -137.6875 146.3125 C-149.37303444 130.11997933 -154.07200926 110.95610279 -151.50390625 91.1796875 C-147.76831018 70.6233566 -137.42180191 53.37910891 -120.390625 41.140625 C-103.18523362 29.86672628 -82.97767463 26.69260778 -62.93286133 30.58935547 C-44.40527851 34.57048897 -29.07285795 45.54836525 -18.07421875 60.7890625 C-9.53900252 74.00177011 -5.9616891 88.2787713 -5.75390625 103.85546875 C-5.72100081 105.54622978 -5.68778867 107.23698486 -5.65429688 108.92773438 C-5.60674745 111.56758995 -5.56220569 114.20741592 -5.52319336 116.84741211 C-5.48349868 119.41282909 -5.4319924 121.97779881 -5.37890625 124.54296875 C-5.36628502 125.72586739 -5.36628502 125.72586739 -5.35340881 126.93266296 C-5.28407371 132.30005618 -5.28407371 132.30005618 -3 137 C0.97359497 139.33740881 3.14743812 140.11367492 7.75 139.5 C11.61801829 137.71476079 12.29203486 136.84812686 14 133 C14.42813783 129.94718701 14.42054199 126.93039162 14.3984375 123.8515625 C14.40130768 122.96197845 14.40417786 122.07239441 14.40713501 121.15585327 C14.4091738 119.27137619 14.40365689 117.38687785 14.39111328 115.50244141 C14.3752469 112.66909092 14.39086863 109.83720876 14.41015625 107.00390625 C14.43976104 82.05995118 8.02657023 58.9819184 -9 40 C-10.21816406 38.64068359 -10.21816406 38.64068359 -11.4609375 37.25390625 C-27.21858553 20.59516104 -49.90474495 9.49742734 -72.96875 8.796875 C-98.36863393 8.437259 -121.66216292 14.65417467 -141 32 C-141.90621094 32.81210937 -142.81242187 33.62421875 -143.74609375 34.4609375 C-160.40483896 50.21858553 -171.50257266 72.90474495 -172.203125 95.96875 C-172.562741 121.36863393 -166.34582533 144.66216292 -149 164 C-148.18789062 164.90621094 -147.37578125 165.81242188 -146.5390625 166.74609375 C-130.78141447 183.40483896 -108.09525505 194.50257266 -85.03125 195.203125 C-66.81047411 195.46109793 -51.0602898 192.94547037 -34.75 184.25 C-28.74664439 181.18032302 -23.29352783 180.01611583 -16.75 182.0625 C-11.76043988 184.23922045 -9.25162652 187.67555074 -6.6875 192.4375 C-5.07948464 198.43101178 -5.96192076 202.70083577 -8.63671875 208.10546875 C-15.45998365 217.58765636 -30.52610223 222.14794361 -41.25 225.375 C-42.04027588 225.61331543 -42.83055176 225.85163086 -43.64477539 226.09716797 C-55.20582142 229.39488164 -66.500627 230.4101794 -78.5 230.375 C-79.2007666 230.37445618 -79.9015332 230.37391235 -80.62353516 230.37335205 C-114.50027068 230.25291428 -144.53992616 217.41833304 -169 194 C-170.11955078 192.97519531 -170.11955078 192.97519531 -171.26171875 191.9296875 C-177.88236958 185.66722196 -182.97963336 178.55651738 -188 171 C-188.6290625 170.06671875 -189.258125 169.1334375 -189.90625 168.171875 C-207.23601593 140.60179284 -211.95805078 104.20535241 -204.83911133 72.62255859 C-198.84333447 48.87776111 -186.91829939 28.55146928 -170 11 C-169.34515625 10.28199219 -168.6903125 9.56398437 -168.015625 8.82421875 C-162.11677885 2.53463707 -155.13883693 -2.23469978 -148 -7 C-147.06542969 -7.63035156 -146.13085938 -8.26070312 -145.16796875 -8.91015625 C-101.47012457 -36.35415281 -40.12596623 -31.83598863 0 0 Z M-105 73 C-113.38986507 81.30497604 -117.32161833 90.20330202 -117.5 102 C-117.34479768 113.11587703 -113.85480178 122.07039058 -106 130 C-96.56584786 137.91052888 -86.85020159 141.82209573 -74.42578125 140.78515625 C-64.57531663 139.16145329 -55.68814842 134.43446541 -49 127 C-42.53553519 117.94974926 -39.15852384 108.80853685 -40.36328125 97.62890625 C-42.23011296 87.17235806 -46.47441613 77.87106878 -55.07421875 71.2734375 C-71.11443989 60.66671926 -89.86046432 60.30001036 -105 73 Z " fill="#8" transform="translate(207,26)" />
            </svg>
        </button>

        @* Llamadas *@
        <button @onclick="Call" class="ml-6 h-5 w-5 lg:h-4 lg:w-4">
            <svg class="h-full w-full fill-primaryDark hover:fill-current-500 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
            </svg>
        </button>

        @* Integrantes *@
        <button @onclick="OpenDrawer" class="ml-6 h-5 w-5 lg:h-4 lg:w-4">
            <svg class="h-full w-full fill-primaryDark hover:fill-current-500 dark:fill-zinc-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z" /></svg>
        </button>

    </div>

</div>


@* Mensajes *@
<div id="CM-@(Iam?.Conversation?.Id ?? 0)" class="scroll-ui flex-1 overflow-auto bg-[#F5F0EA] dark:bg-black">

    <div id="CM-@(Iam?.Conversation?.Id ?? 0)" class="px-3 py-2">

        @* Creación del chat *@
        <div class="my-7 mb-2 flex justify-center">
            <div class="rounded bg-current-200 px-4 py-2 dark:bg-current-500/30 dark:text-zinc-200">
                <p class="text-sm uppercase dark:text-zinc-200">
                    @DateTime.Now.ToString("MMMM dd, yyyy")
                </p>
            </div>
        </div>

        @* Recomendación *@
        <div class="mb-4 flex justify-center">
            <div class="rounded-lg bg-yellow-100 px-4 py-2">
                <p class="text-xs">
                    Tus mensajes están protegidos y cifrados, sin embargo LIN IA puede analizarlos para mostrarte recomendaciones.
                </p>
            </div>
        </div>

        @* Renderizado de mensajes *@
        @foreach (var message in Iam?.Messages ?? [])
        {
            oldTime ??= message.Time;

            if (new DateTime(oldTime.Value.Year, oldTime.Value.Month, oldTime.Value.Day) < new DateTime(message.Time.Year, message.Time.Month, message.Time.Day))
            {

                var dateMess = new DateTime(message.Time.Year, message.Time.Month, message.Time.Day);
                var isToday = dateMess == Today;


                <div class="mb-2 mt-5 flex justify-center">
                    <div class="rounded-lg bg-current-100 px-4 py-2 dark:bg-current-500/30 dark:text-zinc-200">
                        <p class="text-sm uppercase">
                            @if (isToday)
                            {
                                @("Hoy")
                            }
                            else if (dateMess == Today.AddDays(-1))
                            {
                                @("Ayer")
                            }
                            else
                            {
                                @message.Time.ToString("MMMM dd, yyyy")
                            }
                        </p>
                    </div>
                </div>

                oldTime = message.Time;
            }

            <LIN.Allo.Shared.Components.Elements.Message MessageModel="@message" ShowTittle="(lastMessage?.Time != message.Time) || lastMessage == null || lastMessage.Remitente.Id != message.Remitente.Id" />

            lastMessage = message;
        }

        @(oldTime = null)

    </div>


</div>


@{
    string[] emojis = "🙌;👍;😁;👌;😍;❤️;😂;😊".Split(';');
}


@* Entrada *@
<div class="bg-[#F5F0EA] p-3 dark:bg-black">

    <div class="flex w-full justify-end">
        @foreach (var emoji in emojis)
        {
            <div @onclick="()=>SendMessage(emoji)" class="group flex h-8 w-8 items-center justify-center rounded-full hover:bg-gray-100">
                <label class="text-xl group-hover:animate-pulse">@emoji</label>
            </div>
        }
    </div>

    <div class="mt-2 flex items-center rounded-xl bg-white px-4 py-4 dark:bg-zinc-800">
        <div @onclick="()=> EmojiPanel?.Show()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="fill-[#263238] dark:fill-white">
                <path opacity=".45" d="M9.153 11.603c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962zm-3.204 1.362c-.026-.307-.131 5.218 6.063 5.551 6.066-.25 6.066-5.551 6.066-5.551-6.078 1.416-12.129 0-12.129 0zm11.363 1.108s-.669 1.959-5.051 1.959c-3.505 0-5.388-1.164-5.607-1.959 0 0 5.912 1.055 10.658 0zM11.804 1.011C5.609 1.011.978 6.033.978 12.228s4.826 10.761 11.021 10.761S23.02 18.423 23.02 12.228c.001-6.195-5.021-11.217-11.216-11.217zM12 21.354c-5.273 0-9.381-3.886-9.381-9.159s3.942-9.548 9.215-9.548 9.548 4.275 9.548 9.548c-.001 5.272-4.109 9.159-9.382 9.159zm3.108-9.751c.795 0 1.439-.879 1.439-1.962s-.644-1.962-1.439-1.962-1.439.879-1.439 1.962.644 1.962 1.439 1.962z"></path>
            </svg>
        </div>
        <div class="mx-4 flex-1">
            <input @oninput="GetValue" @bind=Message @onkeydown="SendMessageKey" class="w-full border-0 bg-transparent ring-0 focus:border-0 focus:outline-none focus:ring-0 dark:text-gray-100" placeholder="Escribe tu mensaje..." type="text" />
        </div>
        <div @onclick="SendMessage">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-send-fill mr-3 h-5 w-5 fill-zinc-500 hover:fill-current-500 dark:fill-300" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
            </svg>
        </div>
        <div @onclick="SendMessage">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-send-fill mr-3 h-5 w-5 fill-zinc-500 hover:fill-current-500 dark:fill-300" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
            </svg>
        </div>
    </div>

</div>