@inject IJSRuntime js
@inject NavigationManager nav


@code
{


    private string User = LIN.Access.Developer.Session.Instance.Account.Usuario;

    private string Name = LIN.Access.Developer.Session.Instance.Account.Nombre;


  

    [Parameter]
    public  bool Tablero { get; set; } = false;

    public static string Color { get; set; } = "blue";

    [Parameter]
    public bool Precios { get; set; } = false;

    [Parameter]
    public bool Inventario { get; set; } = false;

    [Parameter]
    public bool Documentacion { get; set; } = false;

    [Parameter]
    public bool Acerca { get; set; } = false;


    private string unselectValue = $"block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-{Color}-700 md:p-0";

    private string selectValue = $"block py-2 pl-3 pr-4 text-white rounded bg-{Color}-700 md:bg-transparent md:text-{Color}-700 md:p-0 gilroy-bold";



    private string Img64
    {
        get
        {
            return Convert.ToBase64String(LIN.Access.Developer.Session.Instance.Account.Perfil);
        }
    }

}



<style>
    .bg-dark
    {
        background-color: #E9EAEE;
    }
</style>


<nav class="bg-dark border-gray-200 ">

    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="/" class="flex items-center">
            <img src="./icono.png" class="h-8 mr-3" />
            <span class="self-center text-1xl font-semibold whitespace-nowrap">LIN Services</span>
        </a>

        <div class="flex items-center md:order-2">

            @if (LIN.Access.Developer.Session.IsAccountOpen)
            {

                @if (LIN.Access.Developer.Session.Instance.Account.Rol != AccountRoles.Undefined)
                {
                    <div class="h-6 bg-blue-600 rounded-xl mr-3 flex items-center justify-center hover:bg-blue-300">

                        @if (LIN.Access.Developer.Session.Instance.Account.Rol == AccountRoles.User)
                        {
                            <label class="text-xs text-white pl-3 pr-3">Usuario</label>
                        }
                        else if (LIN.Access.Developer.Session.Instance.Account.Rol == AccountRoles.Admin)
                        {
                            <label class="text-xs text-white pl-3 pr-3">Administrador</label>
                        }

                    </div>
                }
               
                <button @onclick="E" type="button" class="flex mr-3 text-sm rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button">
                    <span class="sr-only">Open</span>
                    <img class="w-8 h-8 p-1 rounded-full ring-2 ring-gray-300" src="data:image/png;base64,@Img64">
                </button>
            }
            else
            {
                <button @onclick="GoLogin" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0">
                    Iniciar sesion
                </button>
            }

           

            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                <div class="px-4 py-3">

                    <div class="flex flex-row items-center">
                        <span class="block text-sm text-gray-900">@Name</span>
                    </div>

                    <div class="flex flex-row items-center">

                        <span class="block text-sm text-gray-500 truncate">@@@User</span>

                        @if (LIN.Access.Developer.Session.Instance.Account.Insignia == AccountBadges.Verified)
                        {
                            <img class="ml-1 self-center" src="./img/verificado.png" style="width: 10px !important; height: 10px !important" />
                        }
                        else if (LIN.Access.Developer.Session.Instance.Account.Insignia == AccountBadges.VerifiedGold)
                        {
                            <img class="ml-1 self-center" src="./img/verificadogold.png" style="width: 10px !important; height: 10px !important" />
                        }

                    </div>

                   

                </div>
               
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Tablero</a>
                    </li>
                    <li>
                        <a href="/settings" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Configuración</a>
                    </li>

                    @if (LIN.Access.Developer.Session.Instance.Account.Rol == AccountRoles.Admin)
                    {
                        <li>
                            <a href="/admincenter" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">LIN Admin Center</a>
                        </li>
                    }


                    <li>
                        <a @onclick="CloseSesion" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
           
            <button id="btnn" @onclick="I"  type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu-2" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>


        </div>

        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">

            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 bg-dark">
               
                
                <li>

                    <a href="/" class="@(Tablero ? selectValue : unselectValue)">Tablero</a>
                   
                </li>
                <li>

                    <a href="/pricing" class="@(Precios ? selectValue : unselectValue)">Precios</a>

                </li>
                <li>
                    
                    <a href="/inventario" class="@(Inventario ? selectValue : unselectValue)">Inventario</a>

                </li>
                <li>

                    <a href="/documentacion" class="@(Documentacion ? selectValue : unselectValue)">Documentación</a>

                </li>
              
                <li>

                    <a href="/about" class="@(Acerca ? selectValue : unselectValue)">Acerca</a>

                </li>


            </ul>
        </div>
    </div>
</nav>

               

@code {

    private void GoLogin()
    {
        nav.NavigateTo("/login");
    }

    private void GoRegister()
    {
        nav.NavigateTo("/register");
    }

    private void CloseSesion()
    {
 nav.NavigateTo("/logout");
    }


    private async Task E()
    {

        await js.InvokeAsync<object>("E");

        base.StateHasChanged();

    }

    private async Task I()
    {

        await js.InvokeAsync<object>("I");

        base.StateHasChanged();

    }

}