<label class="text-gray-500 hover:text-current-500 @(IsOther ? "" : "flex self-center justify-end mr-2")" style="font-size: 10px">@(!IsOther ? "" : MessageModel.Remitente.Alias + " • ")@(MessageModel.Time.ToString("HH:mm"))</label>


<div class="flex @(IsOther ? "" : "justify-end") mb-2 items-center select">


    @{
        string classes = (MessageModel.IsLocal ? "bg-gray-300 text-black" : (!IsOther ? "bg-gradient-to-r from-current-500 to-current-400 text-white" : "bg-[#EAE8ED] dark:bg-[#292929] dark:text-gray-300"));
    }

    @if (MessageType == 0)
    {
        <div class="rounded-xl py-2.5 px-4 @(classes)">
            <p class="flex items-center text-sm gap-1">
                @foreach (var pair in SepararCadenas())
                {

                    if (pair.StartsWith("@"))
                    {

                        string user = pair.Remove(0, 1);

                        var account = Chat.accounts.FirstOrDefault(t => t.Identity.Unique.ToLower() == user.ToLower());

                        if (account == null)
                        {
                            <span class="text-xs select-none p-1 px-2 rounded-lg @(pair.StartsWith("@") && IsOther ? "bg-zinc-300 dark:bg-zinc-700" : "bg-current-500")">@pair</span>
                        }
                        else
                        {
                            string base64 = Convert.ToBase64String(account.Profile);
                            <span class="flex justify-center items-center h-6 w-6 select-none p-1 rounded-full @(pair.StartsWith("@") && IsOther ? "bg-zinc-300 dark:bg-zinc-700" : "bg-current-400")">
                                <img class="rounded-full h-4" src="data:image/png;base64,@base64" />
                            </span>
                        }

                             }
                    else
                    {
                        <span class="@(pair.StartsWith("@") && IsOther ? "text-current-600" : "")">@pair</span>
                    }


                    
                }
            </p>
        </div>
    }

    else if (MessageType == 1)
    {
        <div class="rounded-xl p-4 @(classes) select-none">

            <div class="flex bg-red justify-center items-center">
                <img class="h-5 w-5 mt-1" src="@(IsOther ? "./meet.png" : "./meet_white.png")"/>
            </div>

            <a href="@MessageModel.Contenido" target="_blank" class="text-sm hover:text-current-600">Unirme</a>

        </div>
    }

    else if (MessageType == 2)
    {
        <div class="rounded-xl mmm p-7 @(classes) select-none">
            <p class="text-4xl animate-ping">
                @MessageModel.Contenido
            </p>
        </div>
    }


</div>