@code {


    /// <summary>
    /// Iam
    /// </summary>
    [Parameter]
    public MemberChatModel Iam { get; set; } = new();


    /// <summary>
    /// Hub de conexión
    /// </summary>
    [Parameter]
    public LIN.Access.Communication.Hubs.ChatHub Hub { get; set; }


    /// <summary>
    /// Clase de chat izquierdo
    /// </summary>
    private string OtherClass = "chat chat-start";


    /// <summary>
    /// Clases de chat derecho
    /// </summary>
    private string MeClass = "chat chat-end";


    /// <summary>
    /// Mensaje a enviar
    /// </summary>
    private string Message { get; set; } = "";

    bool stat = false;

    /// <summary>
    /// Inicia la conexión
    /// </summary>
    public void Start()
    {

        if (stat)
            return;

        stat = true;
        Hub.OnReceivingMessage += ReceiveMessage;
    }


    /// <summary>
    /// Enviar un mensaje
    /// </summary>
    private void SendMessage()
    {
        Hub?.SendMessage(Iam.Profile.ID, Iam.Conversation.ID.ToString(), Message);
        Message = "";
        StateHasChanged();
    }


    private void ReceiveMessage(object? sender, MessageModel message)
    {


        Iam.Conversation.Mensajes ??= new();

        Iam.Conversation.Mensajes.Add(message);

        base.StateHasChanged();

    }


    protected override void OnAfterRender(bool firstRender)
    {
        Start();
    }

}

<div class="h-full w-full">



    <div class="flex flex-col w-96 bg-gray-100">

        @(Iam.Conversation.Name)

        @foreach (var message in Iam.Conversation.Mensajes)
        {
            if (message.Remitente.ID == Iam.Profile.ID)
            {
                <div class="@MeClass">
                    <div class="chat-bubble">
                        <div class="flex flex-col">
                            <label class="text-sm">@message.Contenido</label>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="@OtherClass">
                    <div class="chat-bubble">
                        <div class="flex flex-col">
                            <label style="font-size: 8px">@message.Remitente.Alias</label>
                            <label class="text-sm">@message.Contenido</label>
                        </div>
                    </div>
                </div>
            }

        }

    </div>


    <input @bind="Message" placeholder="message" />
    <button @onclick="SendMessage">Enviar</button>


</div>