
@code{


    [Parameter]
    public ConversaciónModel conversación { get; set; }



    public ChatSection()
    {

    }


    public ChatSection(ConversaciónModel conversación)
    {
        this.conversación = conversación;
        int other = 0;
        if (conversación.UsuarioA.ID == LIN.Access.Communication.Session.Instance.Informacion.ID)
        {
            other = conversación.UsuarioB.ID;
            Me = conversación.UsuarioA;
        }
        else
        {
            other = conversación.UsuarioA.ID;
            Me = conversación.UsuarioB;
        }

        OtherID = other;
    }

    [Parameter]
    public int OtherID { get; set; }

    [Parameter]
    public ProfileModel Me { get; set; }

    [Parameter]
    public LIN.Access.Communication.Hubs.ChatHub Hub { get; set; }


    private string OtherClass = "chat chat-start";
    private string MeClass = "chat chat-end";


    public List<MessageModel> Messages = new();


    private string Message { get; set; } = "";


    protected async override void OnParametersSet()
    {

        Hub = new();
        await Hub.Suscribe();
        await Hub.ConnectMe(Me);

        Hub.JoinGroup(Me.ID, OtherID);

        Hub.OnReceivingMessage += ChatHub_OnReceivingMessage;

        base.OnParametersSet();
    }


    private void SendMessage()
    {
        Hub.SendMessage(Me.ID, OtherID, Message);
    }


    private void ChatHub_OnReceivingMessage(object? sender, (int, string, string) e)
    {  

        Messages.Add(new()
            {
               ID = e.Item1,
               Conversacion = new()
               {
                   UsuarioA = new()
                   {
                       Alias = e.Item2
                   }
               },
               Contenido = e.Item3
            });

base.StateHasChanged();

    }


}

<div class="h-full w-full">


  
    <div class="flex flex-col w-96 bg-gray-100">

        @("Yo soy " +  Me.Alias)

        @foreach(var message in Messages)
        {
            if (message.ID == Me.ID)
            {
                <div class="@MeClass">
                    <div class="chat-bubble">@message.Contenido</div>
                </div>
            }
            else
            {
                <div class="@OtherClass">
                    <div class="chat-bubble">@message.Contenido</div>
                </div>
            }

        }

    </div>


    <input @bind="Message" placeholder="message" />
    <button @onclick="SendMessage">Enviar</button>


</div>